/nvenv
/venv
/excel-tool/target/
*.csv
*.xlsx
*.xls#
*.pyc
*.pyo
*.pyd
*.pyi
*.pyw
*.pyz
*.egg-info
*.egg
*.manifest
*.spec
*.dist-info
*.egg-info
*.egg
*.manifest
*.spec
*.dist-info
*.log
*.pid
*.seed
*.pkl
*.pkl.lock
*.pkl.cached
/__pycache__/